<section class="content-section contact-callout">
    <div class="section-target" id="contact"></div>
    <div class="section-target section-target--view section-target--view--end" id="contact-view"></div>
    <div class="container container--large">
        <div class="flex-row">
            <div class="column">
                <ul class="locations-list">
                    <li>
                        <h4>Austin</h4>
                        <address>
                            3601 S. Congress Ave.<br>
                            Bldg. C302<br>
                            Austin, TX 78704<br>
                            United States
                        </address>
                        <a href=".">View on Map</a>
                    </li>
                    <li>
                        <h4>Cincinnati</h4>
                        <address>
                            1311 Vine St<br>
                            Cincinnati, OH 45202<br>
                            United States
                        </address>
                        <a href=".">View on Map</a>
                    </li>
                    <li>
                        <h4>London</h4>
                        <address>
                            14 Grays Inn Road<br>
                            London<br>
                            WC1X 8HN<br>
                            United Kingdom
                        </address>
                        <a href=".">View on Map</a>
                    </li>
                </ul>
                <img src="assets/map.png" alt="Map of Clearhead’s location in Austin, TX">
            </div>
            <div class="column">
                <h4>Let’s talk.</h4>

                <!--[if lte IE 8]>
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                <![endif]-->
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    css: '',
                    portalId: '2142966',
                    formId: 'd0a43d12-9761-4388-a142-1c3cd3171fed'
                  });
                </script>

            </div>
        </div>
    </div>
</section>
<footer class="site-footer">
    <div style="text-align: center; padding: 2em 0;">
        <h6 class="margin-bottom: 0; line-height: 1;">[footer]</h6>
    </div>
</footer>
