.top-group {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .hero {
        color: $white;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .flex-space {
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            align-items: center;
            flex-grow: 1;
        }
        h1 {
            font-weight: $bold;
            font-size: em(42);
            position: relative;
            line-height: (70/42);
            margin: auto 0;
        }
        .cta {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: em(68);
            .icon {
                display: block;
                margin-top: em(23);
            }
        }
    }
}
