/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Alignments
# Clearings

## Posts and pages
## Archive
## Asides
## Comments

# Media

## Captions
## Galleries
## Navs
## Layouts
## Widgets
## Entry Header (Big Blue Area)
## Entry Content (Post + Page body)
## Post Footer

## CH General





--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Layouts
--------------------------------------------------------------*/

// @media screen and (min-width:680px) {
	body.sidebar-right .container-index {
		display: flex;

		.main-content {
			width: calc(100% - (14.45625em + 1.65625em));
		}
		aside {
			width: 14.45625em;
			margin-left: 1.65625em;
			flex-shrink: 0;
		}
		// margin: 0 -260px 0 0;
		// width: 100%;
	}
	// body.sidebar-right  {
	// 	margin: 0 290px 0 0;
	// }
	// body.sidebar-right  {
	// 	float: right;
	// 	overflow: hidden;
	// 	width: 260px;
	// }
// }
.archive-view .blog-content {
	padding-top: calc(2.78125em + 1px);
}
.blog-content {
	padding-top: 2.78125em;
}
body.single {
	.blog-content {
		padding-top: 0;
		.entry-header {
			padding-top: 2.78125em;
		}
	}
}
body.page-template-default {
	.legacy-styles.blog-content-page {
		padding-top: 0;
		.entry-header {
			padding: calc(2.78125em + 2.6875rem) 0 2.6875rem;
			.entry-title {
				margin: 0.65625em 0;
			}
		}
	}
	.entry-content.container {
		margin-top: 4em;
		h1, h2, h3, h4, h5, h6 {
		    font-family: 'ff-bau-web-pro';
		}
		h4 {
			text-transform: none;
			font-size: 0.9375rem;
			font-weight: $bold;
		}
		h2 {
			font-size: 1.5rem;
			line-height: 1.25;
			margin-top: 0;
			margin-bottom: .5em
		}
	}
}

img {
	background-color: $gray;
}



	/*--------------------------------------------------------------
	# Typography
	--------------------------------------------------------------*/
.legacy-styles {
	button,
	input,
	select,
	textarea {
	  color: #404040;
	  font-size: 16px;
	  font-size: 1rem;
	  line-height: 1.5;
	}
	dfn,
	cite,
	i {
	  font-style: italic;
	}
	blockquote {
	  margin: 0 1.5em;
	}
	address {
	  margin: 0 0 1.5em;
	}
	pre {
	  background: #eee;
	  font-family: "Courier 10 Pitch", Courier, monospace;
	  font-size: 15px;
	  font-size: 0.9375rem;
	  line-height: 1.6;
	  margin-bottom: 1.6em;
	  max-width: 100%;
	  overflow: auto;
	  padding: 1.6em;
	}
	code,
	kbd,
	tt,
	var {
	  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	  font-size: 15px;
	  font-size: 0.9375rem;
	}
	abbr,
	acronym {
	  border-bottom: 1px dotted #666;
	  cursor: help;
	}
	mark,
	ins {
	  background: #fff9c0;
	  text-decoration: none;
	}
	big {
	  font-size: 125%;
	}
}
	/*--------------------------------------------------------------
	# Elements
	--------------------------------------------------------------*/
.legacy-styles {
	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
	  content: "";
	}
	blockquote,
	q {
	  quotes: "" "";
	}
	hr {
	  background-color: #ccc;
	  border: 0;
	  height: 1px;
	  margin-bottom: 1.5em;
	}
	ul,
	ol {
	  margin: 0 0 1.5em 1.5em;
	}
	ul {
	  list-style: disc;
	}
	ol {
	  list-style: decimal;
	}
	li {
		list-style: none;
	}
	li > ul,
	li > ol {
	  margin-bottom: 0;
	  margin-left: 1.5em;
	}
	dt {
	  font-weight: bold;
	}
	dd {
	  margin: 0 1.5em 1.5em;
	}
	img {
	  height: auto; // Make sure images are scaled correctly.
	  max-width: 100%; // Adhere to container width.
	}
	table {
	  margin: 0 0 1.5em;
	  width: 100%;
	}
}
	/*--------------------------------------------------------------
	# Forms
	--------------------------------------------------------------*/
.legacy-styles {
	// button,
	// input[type="button"],
	// input[type="reset"],
	// input[type="submit"] {
	//   border: 1px solid;
	//   border-color: #ccc #ccc #bbb;
	//   border-radius: 3px;
	//   background: #e6e6e6;
	//   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	//   color: rgba(0, 0, 0, .8);
	//   font-size: 12px;
	//   font-size: 0.75rem;
	//   line-height: 1;
	//   padding: .6em 1em .4em;
	//   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	// }
	// button:hover,
	// input[type="button"]:hover,
	// input[type="reset"]:hover,
	// input[type="submit"]:hover {
	//   border-color: #ccc #bbb #aaa;
	//   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	// }
	// button:focus,
	// input[type="button"]:focus,
	// input[type="reset"]:focus,
	// input[type="submit"]:focus,
	// button:active,
	// input[type="button"]:active,
	// input[type="reset"]:active,
	// input[type="submit"]:active {
	//   border-color: #aaa #bbb #bbb;
	//   box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	// }
	// input[type="text"],
	// input[type="email"],
	// input[type="url"],
	// input[type="password"],
	// textarea {
	//   color: #666;
	//   border: 1px solid #ccc;
	//   border-radius: 3px;
	// }
	// input[type="text"]:focus,
	// input[type="email"]:focus,
	// input[type="url"]:focus,
	// input[type="password"]:focus,
	// input[type="search"]:focus,
	// textarea:focus {
	//   color: #111;
	// }
	// input[type="text"],
	// input[type="email"],
	// input[type="url"],
	// input[type="password"] {
	//   padding: 3px;
	// }
	// textarea {
	//   padding-left: 3px;
	//   width: 100%;
	// }

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation {
	  margin: 0 0 1.5em;
	  overflow: hidden;
	}
	.comment-navigation .nav-previous,
	.posts-navigation .nav-previous,
	.post-navigation .nav-previous {
	  float: left;
	  width: 50%;
	}
	.comment-navigation .nav-next,
	.posts-navigation .nav-next,
	.post-navigation .nav-next {
	  float: right;
	  text-align: right;
	  width: 50%;
	}
}

.posts-navigation a {
	display: inline-block;
	background-color: $blue;
	color: $white;
	line-height: 1.125;
	padding: 0.65625em 1.09375em 0.5em;
	border-radius: 0.171875em;
	text-transform: lowercase;
	font-weight: $medium;
	font-size: 0.875em;
	transition: background-color 0.1875s ease;
	&:hover {
		color: $white;
		background-color: $dark-blue;
	}
}

.page-content-none, .page-content-404 {
	input[type="submit"] {
		display: inline-block;
		background-color: $blue;
		color: $white;
		line-height: 1.125;
		padding: 0.65625em 1.09375em 0.5em;
		border-radius: 0.171875em;
		text-transform: lowercase;
		font-weight: $medium;
		font-size: 0.875em;
		transition: background-color 0.1875s ease;
		&:hover {
			color: $white;
			background-color: $dark-blue;
		}
	}
}


	/*--------------------------------------------------------------
	# Alignments
	--------------------------------------------------------------*/
.legacy-styles {
	.alignleft {
	  display: inline;
	  float: left;
	  margin-right: 1.5em;
	}
	.alignright {
	  display: inline;
	  float: right;
	  margin-left: 1.5em;
	}
	.aligncenter {
	  clear: both;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}
}
	/*--------------------------------------------------------------
	# Clearings
	--------------------------------------------------------------*/
.legacy-styles {
	.clear:before,
	.clear:after,
	.entry-content:before,
	.entry-content:after,
	.comment-content:before,
	.comment-content:after,
	.site-header:before,
	.site-header:after,
	.site-content:before,
	.site-content:after,
	.site-footer:before,
	.site-footer:after,
	.layout-sidebar:after {
	  content: "";
	  display: table;
	}
	.clear:after,
	.entry-content:after,
	.comment-content:after,
	.site-header:after,
	.site-content:after,
	.site-footer:after,
	.layout-sidebar:after {
	  clear: both;
	}

	.clearfix:after, .clearfix:before {
	  content: " ";
	  display: table
	}
	.clearfix:after {
	  clear: both
	}

}
	/*--------------------------------------------------------------
	## Posts and pages
	--------------------------------------------------------------*/
.legacy-styles {
	.sticky {
	  display: block;
	}
	.hentry {
	  margin: 0 0 1.5em;
	}
	.byline,
	.updated:not(.published) {
	  display: none;
	}
	.single .byline,
	.group-blog .byline {
	  display: inline;
	}
	.page-links {
	  clear: both;
	  margin: 0 0 1.5em;
	}
}
	/*--------------------------------------------------------------
	## Archive
	--------------------------------------------------------------*/
.legacy-styles {
	.page-header {
		border-bottom: 2px solid #ebebeb;
	}
	.page-header h1 {
		font-size: 26px;
		text-transform: none;
		margin: 0.67em 0;
	}
	.author-meta {
		padding-top: 5px;
	}
	.author-meta .avatar {
	    border-radius: 100%;
	    float: left;
	    margin-right: 15px;
	    margin-top: -5px;
	}
	.author-meta .author-information {
	    float: left;
	    width: calc(100% - 82px );
	}
	.author-meta .author-information h3 {
		font-size: 15px;
	}
	.author-meta .author-information h3 a {
		color: #3DC5F3;
	}
	.author-meta .author-information h3 a:hover {
		color: #323232;
	}
	.author-meta .author-information .posted-on {
		font-size: 12px;
		letter-spacing: 0.3px;
	}
}
.archive-view .legacy-styles {
	.entry-image {
		margin: 0 auto 2.25em;
	}
	article {
		padding-bottom: 1.5em;
		border-bottom: 1px solid #eee;
	}
	article:first-of-type {
		margin-top: 2em;
	}
	article:last-of-type {
		border-bottom: none;
		margin-bottom: 3em;
	}
	.entry-title {
		font-size: 26px;
	}
	.entry-content,
	.posted-on a {
		color: #787e81;
	}
}

	/*--------------------------------------------------------------
	## Asides
	--------------------------------------------------------------*/
.legacy-styles {
	.blog .format-aside .entry-title,
	.archive .format-aside .entry-title {
	  display: none;
	}
}
	/*--------------------------------------------------------------
	## Comments
	--------------------------------------------------------------*/
.legacy-styles {
	.comment-content a {
	  word-wrap: break-word;
	}
	.bypostauthor {
	  display: block;
	}
}
	/*--------------------------------------------------------------
	# Media
	--------------------------------------------------------------*/
.legacy-styles {
	.page-content .wp-smiley,
	.entry-content .wp-smiley,
	.comment-content .wp-smiley {
	  border: none;
	  margin-bottom: 0;
	  margin-top: 0;
	  padding: 0;
	}

	// Make sure embeds and iframes fit their containers.
	embed,
	iframe,
	object {
	  max-width: 100%;
	}
}
	/*--------------------------------------------------------------
	## Captions
	--------------------------------------------------------------*/
.legacy-styles {
	.wp-caption {
	  margin-bottom: 1.5em;
	  max-width: 100%;
	}
	.wp-caption img[class*="wp-image-"] {
	  display: block;
	  margin: 0 auto;
	}
	.wp-caption-text {
	  text-align: center;
	}
	.wp-caption .wp-caption-text {
	  margin: 0.8075em 0;
	}
}
	/*--------------------------------------------------------------
	## Galleries
	--------------------------------------------------------------*/
.legacy-styles {
	.gallery {
	  margin-bottom: 1.5em;
	}
	.gallery-item {
	  display: inline-block;
	  text-align: center;
	  vertical-align: top;
	  width: 100%;
	}
	.gallery-columns-2 .gallery-item {
	  max-width: 50%;
	}
	.gallery-columns-3 .gallery-item {
	  max-width: 33.33%;
	}
	.gallery-columns-4 .gallery-item {
	  max-width: 25%;
	}
	.gallery-columns-5 .gallery-item {
	  max-width: 20%;
	}
	.gallery-columns-6 .gallery-item {
	  max-width: 16.66%;
	}
	.gallery-columns-7 .gallery-item {
	  max-width: 14.28%;
	}
	.gallery-columns-8 .gallery-item {
	  max-width: 12.5%;
	}
	.gallery-columns-9 .gallery-item {
	  max-width: 11.11%;
	}
	.gallery-caption {
	  display: block;
	}
	#mfPreviewBarShow {
	  display: none !important;
	}
}
	/*--------------------------------------------------------------
	## Navs
	--------------------------------------------------------------*/
// .legacy-styles {
// 	.main-navigation .current_page_item a,
// 	body.single-post .menu-item-11 a,
// 	.blog .menu-item-11 a,
// 	.main-navigation .current_page_parent a,
// 	.home .main-navigation .current_page_item.active a {
// 	  color: #1397BC;
// 	  border-bottom: 3px solid #1397BC;
// 	}
// 	.home .main-navigation .current_page_item a,
// 	.home .main-navigation .current_page_parent a {
// 	  color: #323232;
// 	  border-bottom: 0;
// 	}
// }
	/*--------------------------------------------------------------
	## Widgets
	--------------------------------------------------------------*/
.legacy-styles {
	.widget {
		margin: 0 0 1.5em;
		padding: 20px;
		background-color: #f9f9fa;
		margin-bottom: 3em;
		font-size: 14px;
	}
	@media screen and (min-width:640px) {
		.widget {
			margin-bottom: 0;
		}
	}
	.widget-title, .widgettitle {
		margin-top: 0;
		color: #797e80;
		border-bottom: 1px solid #d2d4d5;
		padding-bottom: .5em;
		margin-bottom: 1em;
		text-transform: lowercase;
	}
	.widget ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 14px;
	}
	.widget ul li {
		margin-bottom: 1em;
	}
	.widget ul ul {
		margin: 0 0 0 1.5em;
	}
	// Make sure select elements fit in widgets.
	.widget select {
	  max-width: 100%;
	}
	.widget a:hover {
		color: #3DC5F3;
	}

	// Search widget.
	.widget_search .search-submit {
	  display: none;
	}

	// Categories Widget
	.widget_categories ul li,
	.menu-featured-categories-container ul li {
		display: inline-block;
		margin-bottom: .5em;
		margin-right: .5em;
	}
	.widget_categories ul li a,
	.menu-featured-categories-container ul li a  {
		background: #fff;
		color: #3DC5F3;
		display: block;
		padding: .25em .5em;
		border-radius: 3px;
		border: 1px solid #dedee1;
		text-transform: lowercase;
		letter-spacing: 0;
	}
	.widget_categories ul li a:hover,
	.menu-featured-categories-container ul li a:hover {
		color: #323232;
	}
	.widget input[type="search"] {
		// height: auto;
	}
}
	/*--------------------------------------------------------------
	## Entry Header (Big Blue Area)
	--------------------------------------------------------------*/
.legacy-styles {
	.entry-header {
	  background-color: #117793;
	}
	.page .entry-header {
	  padding: 3rem 0;
	  text-align: center;
	}
	.entry-title {
		text-transform: lowercase;
	}
	.entry-title a:hover {
		color: #3DC5F3;
	}
	.entry-header .foot {
	  font-size: 14px;
	  line-height: 32px;
	}
	@media screen and (max-width:640px) {
	  .entry-header .tagged a {
	    display: inline-block;
	    margin-right: 5px;
	    text-decoration: underline;
	  }
	  .entry-header .tagged a:after {
	    content: ", ";
	  }
	  .entry-header .tagged a:last-child:after {
	    display: none;
	  }
	}
	@media screen and (min-width:640px) {
	  .entry-header .foot a {
	    background: #1E728F;
	    background: rgba(255, 255, 255, 0.08);
	    padding: 10px;
	    margin-left: 6px;
	    margin-bottom: 12px;
	    border-radius: 2px;
	  }
	  .entry-header .foot a:hover {
	    background: rgba(255, 255, 255, 0.4);
	    color: #fff;
	    text-decoration: none;
	  }
	}
	.entry-header .social a {
	  padding: 10px;
	  width: 32px;
	  text-align: center;
	}
	.entry-header .social a svg {
	  position: relative;
	  top: 5px;
	}
	.entry-header .tagged {
	  padding-left: 80px;
	  position: relative;
	}
	.entry-header .tagged:before {
	  content: "Filed Under";
	  display: inline-block;
	  position: absolute;
	  left: 0;
	}
	.entry-header .entry-meta {
	  padding-left: 58px;
	  position: relative;
	  display: inline-block;
	  line-height: 1.25em;
	}
	.entry-header .entry-meta img {
	  position: absolute;
	  top: -4px;
	  left: 0;
	  border-radius: 100px;
	}
	@media screen and (min-width:640px) {
	  .entry-header .entry-meta {
	    text-align: right;
	    padding-right: 58px;
	  }
	  .entry-header .entry-meta img {
	    right: 0;
	    left: auto;
	  }
	}
	.entry-image {
		margin: 3em auto;
	}
	.entry-content,
	.entry-content p {
		font-size: 16px;
		line-height: 1.5;
	}
	.read-more {
		display: inline-block;
		margin-left: 5px;
	}
	.author-top {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding-top: 2em;
		padding-bottom: 0.75em;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1.5em;
		margin-bottom: 2em;
	}
	.author-top .avatar {
		border-radius: 100%;
		float: left;
		margin-right: 30px;
		margin-top: -1em;
	}
	.author-top .author-information {
		float: left;
		width: calc(100% - 102px );
	}
	.author-top .job-title {
		font-style: italic;
		color: #aaa;
	}
	.author-top .author-information h3 {
		font-size: 1em;
		margin-bottom: 0;
	}
	.author-top .author-information h3 a {
		color: #3DC5F3;
		text-transform: none;
		font-weight: $bold;
		letter-spacing: 0;
	}
	.author-top .author-information p {
		font-size: 0.875em;
	}
	.author-top .author-contact {
		clear: left;
		padding-top: 1.5em;
	}

	@media screen and (min-width:640px) {
		.author-top .author-information {
			width: calc(100% - 302px );
		}
		.author-top .author-contact {
			float: right;
			clear: none;
			padding: 0;
		}
	}

	.header-blog {
		background: #3DC5F3;
		padding: 10px 0 30px;
	}
	.header-blog h2 {
		color: #fff;
		font-size: 44px;
		text-transform: lowercase;
	}
}
body.single-post, body.page {
	.legacy-styles {
		.entry-header {
			color: #fff;
		    text-transform: lowercase;
			h1 {
				font-size: 38px;
			    line-height: 1.5;
				margin: 0.5rem 0;
			}
			a, .low {
				color: rgba($white, 0.6);
			}
			@include w640 {
				padding-bottom: 5.5em;
			}
			.cap-6c-5g {
				margin-top: 3.5555555556rem;
				.date {
					font-size: 1.325rem;
					margin-bottom: 0;
					line-height: 1.5;
				}
			}
			.foot {
				display: flex;
				justify-content: space-between;
				margin: 1.68125rem 0;
			}
		}
		.entry-image {
			margin: -4.5em auto 2.625em;
			img {
				//temporary
				height: 350px;
			}
		}
	}
}

	/*--------------------------------------------------------------
	## Entry Content (Post + Page body)
	--------------------------------------------------------------*/
.legacy-styles {
	.entry-content {
	  max-width: 600px;
	}
	.entry-content a {
	  border-bottom: 1px dashed rgba(17, 119, 150, 0.3);
	  padding-bottom: 1px;
	  color: #117793;
	}
	.entry-content a:hover {
	//   opacity: 0.6;
	}
	.narrow {
	  max-width: 31em;
	  margin: 0 auto;
	  &#comments {
		  padding-top: 3.325em;
	  }
	}
	.entry-content h1,
	.entry-content h2,
	.entry-content h3,
	.entry-content h4,
	.entry-content h5,
	.entry-content h6 {
	  color: #117793;
	}
	.entry-content {
	  font-family: "ff-more-web-pro";
	}
	.entry-content blockquote {
	  border-left: 3px solid #3DC5F3;
	  margin: 3rem 1rem;
	  font-family: "ff-bau-web-pro";
	}
	.entry-content blockquote p {
	  color: #117793;
	  font-style: normal;
	  font-weight: 500;
	}
	@media screen and (min-width:780px) {
	  .entry-content blockquote {
	    width: 35em;
	    margin: 3rem 0;
	  }
	  .entry-content .aligncenter {
	    width: 46em !important;
	    max-width: 46em !important;
	    margin-left: -4.4em;
	  }
	  .entry-content .aligncenter img {
	    width: 46em !important;
	    max-width: 46em !important
	  }
	}
	.wp-caption-text {
	  opacity: 0.8;
	  font-size: 14px;
	}
}
	/*--------------------------------------------------------------
	## Post Footer
	--------------------------------------------------------------*/
.legacy-styles {
	.prev-next .next,
	.prev-next .prev {
		opacity: .3;
		padding-bottom: 30px;
	}
	.prev-next .next:hover,
	.prev-next .prev:hover {
		opacity: 1;
		text-decoration: none;
	}
	.label {
	  color: #3DC5F3;
	  font-weight: 500;
	}
	.prev-next .date {
	  font-size: 12px;
	}
	@media screen and (min-width:640px) {
		.prev-next .next,
		.prev-next .prev {
			width: 48%;
		}
		.prev-next .prev {
			float: left;
		}
		.prev-next .next {
			float: right;
			text-align: right;
		}
	}

	.share .social a {
	  display: inline-block;
	  padding: 0;
	  border-radius: 3px;
	  width: 32px;
	  height: 32px;
	  text-align: center;
	  background: rgba(50, 50, 50, 0.2);
	  color: #fff;
	}
	.share .social a:hover {
		color: #3DC5F3;
	}
	.share .social a svg {
	  position: relative;
	  top: 5px;
	}

	.related-posts {
	  background: #F4F8FA;
	  h3 {
		  font-weight: $bold;
		  margin-top: 1em;
		  margin-bottom: .5em
	  }
	  p {
		  font-size: 0.875em;
		  a {
			  color: $black;
		  }
	  }
	  .related-content h3 {
		  text-transform: none;
		  font-size: 1.125em
	  }
	  .related-post {
		  margin-bottom: 1em;
	  }
	}
	.related-posts h3 a {
		color: #3DC5F3;
	}
	.related-posts a:hover {
		text-decoration: underline;
	}

	.related-posts .related-image {
		//temporary
		img {
			height: 87px;
			display: block;
		}
		a {
			display: block;
		}
	}

	&.blog-content .share .activity {
		padding: 2em 0;
		display: flex;
		justify-content: space-between;
	}

	@media screen and (min-width:640px) {
		.related-posts .related-content {
			float: left;
			width: calc( 100% - 200px - 2em );
		}
		.related-posts .related-image {
			float: left;
			margin-right: 2em;
			width: 200px;

		}
	}
}
	/*--------------------------------------------------------------
	## Contact Forms
	--------------------------------------------------------------*/
	.legacy-styles .pushbutton-wide {
		background-color: #FDB216!important;
  	color: $black!important;
  	padding: 0.65625em 1.09375em 0.5em!important;
  	&:hover {
  		background-color: darken(#FDB216, 10%)!important;
  	}
	}

	/*--------------------------------------------------------------
	## CH General
	--------------------------------------------------------------*/
.legacy-styles {
	.medium {
	  font-weight: 500;
	}
	.blue {
	  color: #117793;
	}
	.teal {
	  color: #3DC5F3;
	}
	.bg-light-green {
	  background: #acd69b;
	  color:#225e2f;
	}
	.orange {
	  color: #f37227;
	}
	.dark-orange {
	  color: #ae4424;
	}
	.light-purple {
	  color: #8e69ad;
	}
	.dark-purple {
	  color: #49286d;
	}
	.grape {
	  color: #ae4424
	}
	.bg-teal {
	  background: #3DC5F3;
	  color: #fff;
	}
	.bg-light-teal {
	  background: #B5E1ED;
	  color: #117793;
	}
	.bg-light-orange {
	  background: #F7B182;
	  fill: #F7B182;
	  color: #ae4424;
	}
	.bg-light-purple {
	  background: #B698C7;
	  color: #49286d;
	}

	.button {
	  background: #3DC5F3;
	  text-transform: lowercase;
	  border-radius: 3px;
	  color: #fff;
	  font-weight: 300;
	  font-size: 14px;
	  text-align: center;
	}
	.button:hover,
	input[type="submit"]:hover {
	//   opacity: 0.8
	}
	.button-outline {
	  border: 2px solid #3DC5F3;
	  color: #3DC5F3;
	  background: none;
	}
	.button-dark-blue {
	  background: #104350;
	}
	.button-trans {
	  background: rgba(255, 255, 255, 0.2);
	}
	.button-gold {
	  background-color: #FDB216;
	  color: #444;
	}
	.button-icon {
	  padding-left: 3rem;
	  position: relative;
	}
	.button-icon svg {
	  position: absolute;
	  left: 1.2rem;
	  top: .35rem;
	}
	.m-button-outline:hover {
	  text-decoration: none;
	//   opacity: 0.8;
	}
	.m-button-outline:active {
	  text-decoration: none;
	  opacity: 1;
	}
	@media screen and (max-width:640px) {
	  .m-button-outline {
	    border: 2px solid #3DC5F3;
	    color: #3DC5F3;
	    background: none;
	    border-radius: 3px;
	    cursor: pointer;
	    display: inline-block;
	    box-sizing: border-box;
	    line-height: 1.125rem;
	    padding: .5rem 1rem;
	  }
	  .m-button-outline:hover {
	    text-decoration: none;
	    // opacity: 0.8;
	  }
	  .m-button-trans {
	    background: rgba(255, 255, 255, 0.2);
	    cursor: pointer;
	    display: inline-block;
	    box-sizing: border-box;
	    line-height: 1.125rem;
	    position: relative;
	    padding: .5rem 1rem;
	    border-radius: 3px;
	  }
	  .button-icon {
	    padding-left: 3rem;
	  }
	}
	.small {
	  font-size: 80%;
	  font-weight: 300
	}
	.circle {
	  width: 100%;
	  padding-bottom: 100%;
	  border: 1000px;
	}
	.disc li {
	  position: relative;
	  padding-left: 14px;
	}
	.disc li:before {
	  content: " ";
	  display: block;
	  width: 6px;
	  height: 6px;
	  border-radius: 10px;
	  background: #ccc;
	  position: absolute;
	  left: 0;
	  top: 5px;
	}
	.dual-m {
	  -webkit-column-count: 2;
	  -moz-column-count: 2;
	  column-count: 2;
	}
	@media screen and (min-width:640px) {
	  .dual {
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	  }
	  .trial {
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	  }
	}
	@media screen and (min-width:40em) {
	  .sm-show-inline {
	    display: inline !important;
	  }
	}
	@media screen and (max-width:640px) {
	  .m-px0 {
	    padding-right: 0;
	    padding-left: 0;
	  }
	  .m-px1 {
	    padding-right: 1rem;
	    padding-left: 1rem;
	  }
	  .m-mt0 {
	    margin-top: 0;
	  }
	  .m-mt1 {
	    margin-top: 1rem;
	  }
	  .m-mt2 {
	    margin-top: 2rem;
	  }
	  .h1 {
	    font-size: 24px !important;
	    line-height: 1.2 !important;
	  }
	  .sm-center {
	    text-align: center;
	  }
	}
}

/* custom jp - a collab by hm & tf <3 */
.jellassic-park {
  background-image: url('/wp-content/themes/clearhead-2016/img/4jello4.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  height: calc(550px + 2.78125em);
  background-position: center -2.78125em;
  border-top: 2.78125em solid $blue;
}
.jellassic-park .page-title {
  margin: 0;
  padding: 7.5em 0;
  color: #fff;
  text-align: center;
  font-size: 28px
}
@media (max-width: 1024px) {
  .jellassic-park { height: 310px;}
  .jellassic-park .page-title {
	padding: 4em 0;
  }
}
@media (max-width: 600px) {
  .jellassic-park { background-size: 200%;}
  .jellassic-park .page-title {
	padding: 3em 0;
  }
}
.error-404 {
  padding: 0;
}

.widget_recent_entries, .widget_tag_cloud {
	a {
		color: $black;
	}
}
