html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

body {
  -webkit-text-size-adjust: 100%; }

.col-markers {
  position: fixed;
  width: 100%;
  pointer-events: none;
  z-index: 1000; }
  .col-markers ul {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    .col-markers ul li {
      width: calc((6.80556vw * 1 ) - 1.875rem);
      background-color: rgba(49, 51, 53, 0.4);
      height: 100vh; }
  .col-markers:not(:target) {
    display: none; }

body {
  line-height: 1.66667;
  font-family: "ff-bau-web-pro", -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313335; }

a {
  text-decoration: none;
  display: block;
  color: currentColor;
  transition: color 0.1875s ease-out, border-color 0.1875s ease-out, background-color 0.1875s ease-out; }

.copy a:not(.button) {
  color: #0a9fd0;
  display: inline; }
  .copy a:not(.button):hover {
    color: #087aa0; }

.copy p, .copy ul {
  font-size: 1.1875em;
  line-height: 1.89474; }

.copy p:not(:last-child), .copy ul:not(:last-child), .copy .button:not(:last-child), .copy img:not(:last-child) {
  margin-bottom: 1.5em; }

.copy strong {
  font-weight: 700; }

.copy--centered {
  text-align: center; }

em {
  font-style: italic; }

small {
  font-size: 0.875em; }

h1 {
  font-weight: 700;
  line-height: 1.66667;
  letter-spacing: -0.04437em;
  font-size: 7.5vw; }
  @media (min-width: 370px) {
    h1 {
      font-size: 1.875em; } }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 2.625em; } }
  h1:not(:last-child) {
    margin-bottom: 2rem; }

h2 {
  font-size: 2.125em;
  font-weight: 700;
  line-height: 1.23529;
  letter-spacing: -0.04437em; }
  h2:not(:last-child) {
    margin-bottom: 2rem; }

h3 {
  font-size: 1.375em;
  line-height: 1.45455;
  font-weight: 700;
  letter-spacing: -0.03125em; }
  h3:not(:last-child) {
    margin-bottom: 1rem; }

h4 {
  font-size: 1.25em;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: -0.02625em; }
  h4:not(:last-child) {
    margin-bottom: 1rem; }

h5 {
  font-size: 1em;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.02875em; }
  h5:not(:last-child) {
    margin-bottom: 1rem; }

h6 {
  font-size: 0.8125em;
  line-height: 1.23077;
  font-weight: 400;
  letter-spacing: 0.0625em;
  text-transform: uppercase; }
  h6:not(:last-child) {
    margin-bottom: 0.5rem; }

.lowercase {
  text-transform: lowercase; }

hr {
  border: none;
  height: 0.125em;
  background-color: #E3E5E6;
  margin: 5em 0; }

select, input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-family: "ff-bau-web-pro", -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 1em;
  display: block;
  color: currentColor;
  border: none;
  line-height: 1.66667;
  width: 100%;
  border-radius: 0;
  padding: 0; }
  select::-webkit-input-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: currentColor; }
  select:-ms-input-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: currentColor; }
  select::placeholder, input::placeholder, textarea::placeholder {
    color: currentColor; }

label {
  cursor: pointer; }
  label::-moz-selection {
    background-color: transparent; }
  label::selection {
    background-color: transparent; }

img, svg {
  display: block;
  height: auto;
  max-width: 100%; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  transition: background-color 0.1875s ease-out; }

.button {
  margin: 0;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25em;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: -0.02625em;
  color: #FFFFFF;
  background-color: #32C4F5;
  font-size: 0.875em;
  line-height: 1.28571;
  padding: 1.625rem 1.5rem 1.4375rem;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0.125rem;
  min-width: 15.125rem;
  transition: color 0.1875s ease-out, background-color 0.1875s ease-out; }
  .button:hover, .button:focus {
    background-color: #0ebaf3; }
    .button:hover:after, .button:focus:after {
      border-left-color: #0ebaf3; }
  .button--white {
    background-color: white;
    color: #313335; }
    .button--white:hover {
      color: #FFFFFF; }
  .button--light {
    background-color: #EAF9FE;
    color: #32C4F5; }
    .button--light:hover {
      color: #FFFFFF; }
  .button--small {
    font-size: 0.8125em;
    padding: 1rem 0.8125rem 0.75rem;
    min-width: 11.3125rem; }

.container {
  margin: 0 auto;
  min-width: 272px;
  width: calc(100% - 1.875rem); }
  @media screen and (min-width: 1280px) {
    .container {
      width: calc((6.80556vw * 14 ) - 1.875rem); } }
  @media screen and (max-width: 699px) {
    .container .container {
      margin: 0;
      width: 100%; } }
  @media screen and (min-width: 700px) {
    .container--large {
      width: calc((6.80556vw * 13 ) - 1.875rem); } }
  @media screen and (min-width: 1000px) {
    .container--large {
      width: calc((6.80556vw * 12 ) - 1.875rem); } }

.site-header {
  padding: 1.25em 0; }
  @media screen and (min-width: 700px) {
    .site-header {
      padding: 1.625em 0;
      padding: 1.125em 0; } }
  @media screen and (min-width: 1280px) {
    .site-header {
      padding: 2.3125em 0; } }
  .site-header .flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 699px) {
      .site-header .flex-row {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    @media screen and (min-width: 1000px) {
      .site-header .flex-row {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .site-header .flex-row .logo {
      width: 13.21875em; }
      @media screen and (min-width: 700px) and (max-width: 999px) {
        .site-header .flex-row .logo {
          margin-right: 3em; } }
      .site-header .flex-row .logo a {
        transition: opacity 0.1875s ease-out; }
        .site-header .flex-row .logo a:hover {
          opacity: 0.5; }
    .site-header .flex-row .detail {
      color: rgba(255, 255, 255, 0.7);
      line-height: 1.1875; }
      @media screen and (max-width: 699px) {
        .site-header .flex-row .detail {
          width: 100%;
          -webkit-box-ordinal-group: 4;
          -webkit-order: 3;
              -ms-flex-order: 3;
                  order: 3;
          margin-top: 0.75em;
          margin-left: 3.125em; } }
      @media screen and (min-width: 700px) {
        .site-header .flex-row .detail {
          margin: 0.8125em 0 0 0.625em; } }
      @media screen and (min-width: 700px) and (max-width: 999px) {
        .site-header .flex-row .detail {
          display: none; } }
      @media screen and (min-width: 1000px) {
        .site-header .flex-row .detail {
          margin-left: calc(2.27273vw + -0.79545rem);
          margin-right: auto; } }
      @media screen and (min-width: 1440px) {
        .site-header .flex-row .detail {
          margin-left: 1.25em; } }
    @media screen and (max-width: 699px) {
      .site-header .flex-row nav:not(.is-showing) {
        display: none; } }
    @media screen and (max-width: 699px) {
      .site-header .flex-row nav {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: #23A0CA;
        left: 0;
        top: 0;
        z-index: 100;
        margin-top: 0;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (min-width: 700px) and (max-width: 999px) {
      .site-header .flex-row nav {
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        font-size: 90%; } }
    .site-header .flex-row nav ul {
      padding-top: 0.25em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media screen and (max-width: 699px) {
        .site-header .flex-row nav ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      @media screen and (min-width: 700px) {
        .site-header .flex-row nav ul li {
          margin-bottom: 0.125em; } }
      .site-header .flex-row nav ul li:not(:last-child) {
        margin-right: 0.3125em;
        margin-right: 0.5em; }
        @media screen and (min-width: 1000px) {
          .site-header .flex-row nav ul li:not(:last-child) {
            margin-right: calc(4.77273vw + -2.67045rem); } }
        @media screen and (min-width: 1440px) {
          .site-header .flex-row nav ul li:not(:last-child) {
            margin-right: 1.625em; } }
      .site-header .flex-row nav ul li a {
        text-transform: lowercase;
        color: rgba(255, 255, 255, 0.76);
        font-weight: 500; }
        @media screen and (max-width: 699px) {
          .site-header .flex-row nav ul li a {
            padding: calc(0.25rem + 1.5625vh) 0;
            font-size: 1.5em;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.6); } }
        @media screen and (min-width: 700px) {
          .site-header .flex-row nav ul li a {
            padding: 0.4375rem 0.46875rem 0.25rem;
            border-bottom: 0.1875rem solid transparent; } }
        @media screen and (min-width: 1000px) {
          .site-header .flex-row nav ul li a {
            font-size: 0.9375em; } }
        .site-header .flex-row nav ul li a:hover {
          color: #FFFFFF; }
      .site-header .flex-row nav ul li.selected a {
        color: #FFFFFF; }
        @media screen and (min-width: 700px) {
          .site-header .flex-row nav ul li.selected a {
            border-bottom-color: #FFFFFF; } }
    @media screen and (max-width: 699px) {
      .site-header .flex-row nav.is-showing .menu-toggle--close {
        display: block; } }
  .site-header .menu-toggle {
    font-size: 1em;
    position: absolute;
    top: 1.6875rem;
    right: 1.51562rem;
    height: 1.625rem;
    width: 1.625rem;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.1875s ease-out; }
    .site-header .menu-toggle:hover {
      opacity: 0.7; }
    .site-header .menu-toggle .icon {
      width: 100%; }
    .site-header .menu-toggle--close {
      display: none; }
    @media screen and (min-width: 700px) {
      .site-header .menu-toggle--open {
        display: none; } }

.content-section {
  padding: 5em 0; }
  .content-section .content-cap {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3em; }
    .content-section .content-cap--large {
      max-width: 59.375rem; }
    .content-section .content-cap--medium {
      max-width: 47.125rem; }
    .content-section .content-cap--small {
      max-width: 34.875rem; }

.top-group {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 699px) {
    .top-group {
      background-image: none !important;
      background-color: #32C4F5; } }
  .top-group .hero {
    color: #FFFFFF;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .top-group .hero .flex-space {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .top-group .hero h1 {
      margin: auto 0;
      position: relative; }
    .top-group .hero .cta {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 4.25em; }
      .top-group .hero .cta .icon {
        display: block;
        margin-top: 1.4375em; }

.services-feature {
  text-align: center; }
  .services-feature .intro {
    background-image: url("../assets/arrows-circle.svg");
    background-position: top center;
    background-repeat: no-repeat;
    padding: 2em 0;
    margin-bottom: 0.84375em; }
    .services-feature .intro h2 {
      margin-bottom: 0.71875rem; }
    .services-feature .intro .button {
      border: 2px solid white; }
  .services-feature > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .services-feature > ul > li {
      width: calc((6.80556vw * 3 ) - 1.875rem); }
      .services-feature > ul > li a {
        padding: 1.0625em 0.75em 1.5em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        transition: background-color 0.1875s ease-out;
        position: relative; }
        .services-feature > ul > li a:hover h4, .services-feature > ul > li a:hover .icon {
          visibility: hidden;
          opacity: 0; }
        .services-feature > ul > li a:not(:hover) .button {
          background-color: #EAF9FE;
          color: #32C4F5; }
        .services-feature > ul > li a h4, .services-feature > ul > li a .icon, .services-feature > ul > li a .details {
          transition: opacity 0.1875s ease-out, visibility 0.1875s ease-out, -webkit-transform 0.1875s ease-out;
          transition: opacity 0.1875s ease-out, visibility 0.1875s ease-out, transform 0.1875s ease-out;
          transition: opacity 0.1875s ease-out, visibility 0.1875s ease-out, transform 0.1875s ease-out, -webkit-transform 0.1875s ease-out; }
        .services-feature > ul > li a h4 {
          max-width: 10em;
          font-size: 1.375em;
          line-height: 1.45455;
          margin-bottom: 1.28125em; }
        .services-feature > ul > li a .icon {
          margin: auto 0 2.4375em; }
        .services-feature > ul > li a .button {
          position: relative;
          z-index: 2; }
          .services-feature > ul > li a .button:hover {
            background-color: #32C4F5; }
        .services-feature > ul > li a .details {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          background-color: #EAF9FE;
          padding: 1.25em 0.75em 1.5em; }
          .services-feature > ul > li a .details ul {
            font-size: 0.875em;
            line-height: 1.64286;
            letter-spacing: 0.015rem; }
            .services-feature > ul > li a .details ul:first-child:after {
              content: "";
              display: block;
              margin: 0.75rem auto 0.875rem;
              width: 5rem;
              height: 0.125rem;
              background-color: rgba(50, 196, 245, 0.3); }
            .services-feature > ul > li a .details ul li {
              margin-bottom: 0.3125rem; }
        .services-feature > ul > li a:not(:hover) .details {
          visibility: hidden;
          opacity: 0;
          pointer-events: none; }

/*# sourceMappingURL=main.css.map */
