|{% extends "_layout" %}

|{% block content %}
section.styleguide
  .grid-row.grid-row-padding--sides-only
    .gs--full.gm--half
      h1.heading-1--black .heading-1--black
      h1.heading-1--teal .heading-1--teal
      h2.heading-2 .heading-2
      h3.heading-3--white .heading-3--white
      h3.heading-3--gray .heading-3--gray
      h4.heading-4 .heading-4
      h5.heading-5 .heading-5
      br
      br
      p Lucas ipsum dolor sit amet vella gand whitesun cordé zhell kubaz droopy jade echani nar. Skywalker sykes arcona melodie ooryl neimoidian selkath kiffar qrygg. Bothawui weequay tion motti fey'lya. Twi'lek whill amidala rancisis roonan terrik quee kasan. Cb-99 kathol snootles ugnaught draethos rugor owen. Mandalore windu skywalker falleen dalonbian anakin nadon. Polis hissa wesell rebo. Kast fortuna hoth c-3p0 shawda vader kwi ev-9d9 kwa. Kwa b4-d4 evazan joelle jeremoch raynar neimoidia kohl vau.
      p Kit endor anzati talz cal. Antemeridian bith derlin obi-wan wicket windu yowza. X'ting malastare aleena vivenda. Fel kashyyyk vratix omas jeremoch kwa. Carondian dagobah tahiri teek balosar ki-adi-mundi wilhuff ken jeremoch. Raymus skywalker meridian amedda antilles antilles dengar. Nilgaard trianii grodin paploo gorax taung karrde. Haako quee hallotan thrawn durron mayagil. Fisto ponda wol maximilian wicket mon. Bail kowakian lando bane aramandi kit hoojib nahdar. Iego wirutid amidala desolous nar.
    .gs--full
      br
      br
      h3.heading-3 Color Scheme
      .grid-row.colors
        .box.teal .teal
        .box.black .black 
        .box.white .white  
        .box.yellow .yellow
        .box.gray .gray
        .box.cream .cream
        .box.cream-dark .cream-dark
|{% endblock %}