// Basic view sizing
// -----------------
.container {
	min-width: 288px;
	margin: 0 auto;

	max-width: calc(100% - 1.5rem);
	width: 50rem;
	@include w480 {
		width: 48.5rem;
	}
	@include w640 {
		width: ($full/1.0625);
		max-width: calc(100% - 2.5rem);
	}
	@include w1000 {
		width: $full;
		// background-color: red;
	}
}

.cap-3c-2g {
	width: 100%;
	max-width: ($column * 3) + ($gutter * 2);
}
.cap-4c-3g {
	width: 100%;
	max-width: ($column * 4) + ($gutter * 3);
}
.cap-5c-4g {
	width: 100%;
	max-width: ($column * 5) + ($gutter * 4);
}
.cap-6c-5g {
	width: 100%;
	max-width: ($column * 6) + ($gutter * 5);
}
.cap-6c-6g {
	width: 100%;
	max-width: ($column * 6) + ($gutter * 6);
}
.cap-7c-6g {
	width: 100%;
	max-width: ($column * 7) + ($gutter * 6);
	&-centered {
		margin: 0 auto;
	}
}
.cap-8c-7g {
	width: 100%;
	max-width: ($column * 8) + ($gutter * 7);
}

@media screen and (max-width: 639px) {
	.dn_n640 {
		display: none;
	}
}
@include w640 {
	.dn_w640 {
		display: none;
	}
}
@media screen and (max-width: 999px) {
	.dn_n1000 {
		display: none;
	}
}
@include w1000 {
	.dn_w1000 {
		display: none;
	}
}

header, section, footer {
	max-width: 100vw;
}

@mixin transform($contents) {
  -webkit-transform: $contents;
  -ms-transform: $contents;
  transform: $contents;
}

@mixin transition($contents) {
  -webkit-transition: $contents;
  -ms-transition: $contents;
  transition: $contents;
}

main {
	overflow: hidden;
}

header {
	width: 100%;
	color: $black;
	// padding: 0.578125em 0;
	position: fixed;
	top: 0;
	z-index: 100;
	box-shadow: 0 0 0.325em 0 rgba($black, 0);
	transition: box-shadow 0.25s ease;

	font-size: 112.5%;
	@include w480  { font-size: 106.25%; }
	@include w640  { font-size: 103.125%; }
	@include w1000 { font-size: 100%; }

	&.scrolled {
		box-shadow: 0 0 0.325em 0 rgba($black, 0.3);
		nav ul li.active {
			a {
				color: $dark-blue;
				border-bottom-width: 0.25em;
			}
		}
		.menu-mobile nav ul li {
			&.active {
				a {
					color: $white;
					border-color: $blue;
					&:hover {
						color: $blue;
					}
				}
			}
		}
	}
	.main-header {
		position: relative;
		z-index: 90;
		background: $white;
		> .container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 2.78125em;
		}
	}
	.logo {
		flex-shrink: 0;
		figcaption {
			font-weight: $bold;
			text-transform: lowercase;
			margin-top: 0.25em;
			position: relative;
			span {
				display: block;
				color: transparent;
			}
			svg {
				width: 100%;
				height: 100%;
				position: absolute;
				pointer-events: none;
				top: -0.0625em;
				* {
					fill: $blue;
				}
			}
		}
		.icon {
			display: none;
		}
		@include w640 {
			height: 2.78125em;
			width: 2.78125em;
			background-color: $blue;
			color: transparent;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: background-color 0.25s ease;
			&:hover {
				background-color: #3CB3DB;
			}
			figure {
				height: 0.96875em;
				width: 1.0625em;
				margin: 0 0.125em 0.09375em 0;
				display: flex;
				.icon {
					display: block;
				}
				figcaption {
					display: none;
				}
			}
		}
	}
	.menu-desktop {
		margin-right: 0.346875em;

		width: calc(100% - 4.5em);
		max-width: 30em;
		@include w1000 {
			width: calc(100% - 13.5em);
			max-width: none;
		}
		nav {
			display: none;
			@include w640 {
				display: block;
			}
		}
	}
	nav {
		width: 100%;
		ul {
			display: flex;
			justify-content: space-between;
			height: 2.78125em;
			// background-color: $black;
			li {
				display: flex;
				a {
					font-size: 0.75em;
					font-weight: $medium;
					color: rgba($black, 0.9);
					padding: 0 0.30625em;
					margin: 0 0.09375em;
					line-height: 3.75;
					text-transform: lowercase;
					letter-spacing: 0;
					transition: border-bottom-width 0.25s ease;
					border-bottom: 0 solid #0096BE; // ‘medium blue’ used only here
				}
			}
		}
	}
	.menu-mobile {
		position: absolute;
		z-index: 80;
		background-color: rgba(black, 0.84375);
		width: 100%;
		overflow: hidden;
		pointer-events: none;
		transform: translateY(calc(-100vh + 2.78125em));
		opacity: 0.5;
		transition:
			transform 0.25s ease,
			opacity 0.25s ease;
		@include w640 {
			display: none;
		}
		nav ul {
			height: calc(100vh - 2.78125em);
			flex-direction: column;
			padding-bottom: 68px;
			li {
				flex-grow: 1;
				border-bottom: 1px solid darken($gray, 40%);

				a {
					display: block;
					text-align: center;
					width: 100%;
					color: rgba($white, 0);
					padding: 0.125em 0.4125em 0;
					font-size: 1em;
					line-height: calc(((100vh - 2.78125em) - 68px) / 6);
					border-bottom: none;
					transition:
						color 0.1875s ease,
						background-color 0.1875s ease;
					&:hover {
						// background-color: rgba(black, 0.5);
					}
				}
			}
		}
	}
	.menu-toggle-mobile {
		font-size: 0.8125em;
		font-weight: $medium;
		background-color: $light-blue;
		color: $dark-blue;
		text-transform: lowercase;
		display: block;
		padding: 0.5625em;
		line-height: 1.25;
		border-radius: 0.171875em;
		flex-shrink: 0;
		@include w640 {
			display: none;
		}
		figure {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		figcaption {
			position: relative;
			top: 0.0275em;
			flex-shrink: 0;
		}
		.icon {
			// height: 1em;
			// width: 1em;
			// position: relative;
			// flex-shrink: 0;
			// text-align: right;
			// margin-left: 0.5em;
			// span {
			// 	display: block;
			// 	position: absolute;
			// 	font-size: 1.875em;
			// 	top: -0.2875em;
			// 	font-weight: $medium;
			// 	transform: rotate(0deg);
			// 	transition:
			// 		transform 0.25s ease,
			// 		top 0.25s ease,
			// 		left 0.25s ease;
			// }

			// Icon styles
			&.icon15 {
				margin-left: 0.5em;
			  cursor: pointer;
			  height: (23px/2);
			  position: relative;
			  width: (28px/2);
			//   transform: scale(0.5625);
			  .line-outer {
			    $margin: (10px/2);

			    @include transition(0.2s 0.2s cubic-bezier(0, 0, 0, 1));

			    &:first-child .line-inner {
			      top: 0;
			    }

			    &:nth-child(2) .line-inner {
			      top: $margin;
			    }

			    &:nth-child(3) .line-inner {
			      top: $margin * 2;
			    }
			  }

			  .line-inner {
			    @include transition(0.2s cubic-bezier(0, 0, 0, 1));
			    background: $dark-blue;
			    height: (3px/2);
			    position: absolute;
			    width: (28px/2);
			  }

			}
		}
	}
}
body {
	.site-content, footer {
		transform: translateY(0);
		transition: transform 0.25s ease;
		@include w640 {
			transition: none;
		}
	}
	&.show-menu-mobile {
		.menu-mobile {
			transform: translateY(0);
			pointer-events: auto;
			opacity: 1;
			nav ul li a {
				color: $white;
				&:hover {
					color: $white;
				}
			}
		}
		.menu-toggle-mobile .icon {

			  .line-outer {
				@include transition(0.2s cubic-bezier(0, 0, 0, 1));

				&:first-child {
				  @include transform(translate(0, 5px));

				  .line-inner {
					@include transform(rotate(45deg));
				  }
				}

				&:nth-child(2) {
				  opacity: 0;
				}

				&:nth-child(3) {
				  @include transform(translate(0, -5px));

				  .line-inner {
					@include transform(rotate(-45deg));
				  }
				}
			  }

			  .line-inner {
				@include transition(0.2s 0.2s cubic-bezier(0, 0, 0, 1));
			  }
		}
		.site-content, footer {
			// transform: translateY(calc(50em / 16));
			// @include w480  { transform: translateY(calc(49em / 16.5)); } // 16.5 pt
			// @include w640  { transform: translateY(0) }
		}
	}
}
body.home {
	&:not(.scrolled) {
		header .logo:hover {
			background-color: $blue;
		}
	}
}
body.archive-view header {
	&:after {
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		position: fixed;
		background-color: transparent;
		transition: background-color 0.25s ease;
	}
	&:not(.scrolled) {
		&:after {
			background-color: $gray;
		}
	}
}
body:not(.home) nav li {
	&.current_page_item, &.current_page_parent {
		a {
			color: $dark-blue;
			border-bottom-width: 0.25em;
		}
	}
}

body.archive-view, body.single {
	.menu-mobile nav li.menu-item-blog {
		a {
			color: $blue;
			border-color: $blue;
			border-bottom-width: 0.25em;
		}
	}
}


.contact-form {
	input.error, textarea.error {
		border:1px solid red!important;
	}
	.error {
		color: red!important;
	}

	/*When form is submitted, button is disabled so users won't press it while
	ajax completes*/
	input[disabled] {
    color: black;
		background-color: #DCDAD1;
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
	}
}

footer {
	.cap-3c-2g {
		@media screen and (max-width: 639px) {
			max-width: 100%;
		}
	}
	.main-footer {
		padding: 2em 0 1.875em;
		background-color: #103B48; // ‘extra dark blue’ used only here
		h3 {
			font-size: 1em;
			font-weight: $bold;
			margin-bottom: 0.5em;
			letter-spacing: -(0.3em/18);
		}
		.container {
			display: flex;
			flex-direction: column;
			@include w640 {
				flex-direction: row;
				justify-content: space-between;
			}
			.info {
				h2 {
					color: $white;
					font-size: 2.125em;
					margin-bottom: 0.1875em;
				}
				h5 {
					font-size: 0.75em;
					letter-spacing: -(0.3em/18);
					margin-bottom: 0.9375em;
				}
				nav {
					margin-bottom: 1.78175em;
					ul {
						column-count: 2;
						column-gap: 0;
						column-rule-width: 0;
						column-width: ($column * 1.5);
						li {
							// background-color: $gray;
							width: 100%;
						}
						a {
							text-transform: lowercase;
							font-weight: $medium;
							display: block;
							line-height: 1.5625;
							font-size: 0.875em;
						}
					}
				}
				.post-embed {
					margin-bottom: 1.765625em;
					p {
						font-size: 0.875em;
						line-height: 1.25;
						margin-bottom: 0.59375em;
						max-width: 24rem;
					}
					a {
						display: block;
						font-size: 0.875em;
						line-height: 1;
						text-transform: lowercase;
						font-weight: $medium;

					}
				}
				.info-action {
					&:nth-last-child(n+2) {
						margin-bottom: 1.84375em;
					}
					h3 {
						margin-bottom: 0.325em;
					}
					.button-twitter {
						div {
							display: flex;
							align-items: center;
						}
						figure {
							height: 1.0625em;
							width: 1.325em;
							position: relative;
							margin-bottom: 1px;
							bottom: 1px;
							right: 2px;
							margin-right: 5px;
							background-image: url('img/icons/twitter.svg');
							background-size: cover;
						}
						span {
							font-size: 0.875em;
						}
					}
				}
			}
			.contact {
				margin-bottom: 2.5em;
				@include w640 {
					order: 2;
					max-width: calc(100% - ((((1em * (((800 - (20 * 8)) / 9) / 18)) * 3) + ((1em * (20 / 18)) * 2)) + 2.5625em));
					margin-bottom: 0;
				}
				width: 100%;

				//Footer form submission styles
				blockquote.contact-form-submission {
					border-left: 3px solid #3DC5F3;
					color: white;
				}

				padding-top: 0.325em;
				.contact-info {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 1.0625em;
					h3 {
						position: relative;
						top: 0.1875em;
					}
					p {
						font-size: 0.875em;
						line-height: 1.5625;
						letter-spacing: -(0.535em/18);
						font-size: 0.75em;
						@include w1000 {
							font-size: 0.875em;
						}
					}
					> div {
						width: 50%;
						@include w1000 {
							&:first-child {
								padding-right: 1em;
							}
						}
					}
					// figure {
					// 	width: calc(100% - 8.5em);
					// 	max-width: 11em;
					// 	@include w1000 {
					// 		max-width: 14em;
					// 		width: calc(100% - 12.75em);
					// 	}
					// 	a {
					// 		display: block;
					// 		transition: opacity 0.1875s ease;
					// 		&:hover {
					// 			opacity: 0.68125;
					// 		}
					// 	}
					// 	img {
					// 		display: block;
					// 	}
					// }
				}
			}
		}
	}
	.sub-footer {
		background-color: $blue;
		.container {
			height: 2.36875em;
			display: flex;
			align-items: center;
			justify-content: space-between;
			div {
				margin-top: 0.15625em;
				font-size: 0.78125em;
				text-transform: lowercase;
			}
		}
	}
}

section {
	background-color: $white;
	color: $black;
	padding: 2.25em 0;
	@include w640 {
		padding: 3.265625em 0;
	}
	&.spacing-added {
		padding: 3.5em 0;
		@include w640 {
			padding: 7em 0;
		}
	}
}
