<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href='{{ site.github.url }}/css/main.css?bust={{ site.time | date: '%s' }}'>

        <script src="https://use.typekit.net/erk8dkx.js"></script>
    	<script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body class="{{ page.bodyClass }}">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('.styled-select select').change(function() {
            $(this).addClass('has-changed');
        });
    </script>
</html>
