// Hero
// ----
.hero {
    background-color: $blue;
    color: $white;
    position: relative;

    font-size: 87.5%;
    padding: (2.9375em + 2.78125em) 0 3.375em;

    .cap-6c-5g {
        max-width: none;
        padding: 3.5em 0 0;
        @include w480 {
            font-size: 93.75%;
        }
        @include w640 {
            font-size: 100%;
            padding: 0 8em 2.5em 0;
            max-width: ($column * 6) + ($gutter * 6);
        }
        @include w1000 {
            font-size: 112.5%;
            padding: 5.25em 2em 3.8125em 0;
        }
    }
    .logo-icon {
        width: 3.4125em;
        height: 3.4125em;
        position: relative;
        // top: -1.0625em;

        position: relative;
        margin: 0 auto;
        bottom: 1.875rem;

        @include w640 {
            display: none;
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
    h1 {
        line-height: 1.0625;
        margin-bottom: 0.0625em;

        position: relative;
        text-align: center;
        bottom: 1.25rem;
        @include w640 {
            text-align: left;
        }
        figure {
            display: block;
            pointer-events: none;
            margin: 0.0625em 0 0.278125em;
            svg {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                width: 5.7125em;

                @include w640 {
                    width: auto;
                    height: 0.875em;
                    margin: 0;
                }
            }
        }
        span {
            width: 100%;
            position: absolute;
            color: transparent;
            top: 0;
            left: 0;
        }
        @include w640 {
            bottom: 0;
            text-align: left;
        }
    }
    h5 {
        margin-bottom: 2.1875em;
        color: rgba($white, 0.6);

        position: relative;
        text-align: center;
        bottom: 1.25rem;
        @include w640 {
            bottom: 0;
            text-align: left;
        }
    }
    p {
    	letter-spacing: -0.0390625em;
        line-height: 1.75;
    	font-weight: $medium;
        margin-bottom: 1.75em;
        font-size: 1em;

        text-align: center;
        max-width: 19em;
        margin-left: auto;
        margin-right: auto;
        &:last-child {
            margin-bottom: 1em;
        }
        @include w640 {
            text-align: left;
            margin-left: 0;
            margin-right: 0;
            max-width: none;
        }
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: calc(100% - 2.78125em);
        top: 2.78125em;
        left: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        @include w480 {
        }
        @include w1000 {
            align-items: center;
        }
        .flyover {
            position: relative;
            margin-bottom: 2.375em;
            @media screen and (min-width: 375px) {
                margin-bottom: 2.375em;
            }
            @include w480 {
                margin-bottom: 1.65em;
            }
            @include w640 {
                margin-bottom: 3em;
            }
            @include w1000 {
                margin-bottom: 0;
                margin-top: 0.53125em;
            }
            &.is_hidden {
                .flex {
                    transform: translateX(125%);
                    opacity: 0;
                }
            }
            &.has_toggle {
                .toggle {
                    transform: translateX(0%);
                }
            }
            &.is_toggled {
                .toggle .label {
                    &-hide {
                        // transform: translateX(775%);
                        display: none;
                    }
                    &-show {
                        // transform: translateX(0);
                        display: block;
                    }
                }
            }
            .flex {
                display: flex;
                box-shadow: 0 0 0.1875em 0 rgba(black, 0.1875);
                transform: translateX(0);
                opacity: 1;
                transition:
                    transform 0.375s ease-in-out,
                    opacity 0.375s ease-in-out
                ;
                .articles {
                    background-color: $white;
                    color: $black;
                    padding: 1.0625em 0.90625em 0.875em;
                    width: 14.53125em;
                    h3 {
                        font-weight: $bold;
                        border-bottom: 1.5px solid lighten($black, 41.25%);
                        padding-bottom: 0.359375em;
                        margin-bottom: 0.7125em;
                        letter-spacing: -0.1875px;
                    }
                    li:nth-last-child(n+2) {
                        border-bottom: 1px solid $gray;
                        margin-bottom: 0.78125em;
                        padding-bottom: 0.6875em;
                    }
                    a {
                        h4 {
                            text-transform: none;
                            font-size: 0.875em;
                            line-height: 1.4125;
                            margin-bottom: 0.4375em;
                            padding-right: 1.875em;
                            color: $black;
                        }
                        .cta {
                            display: block;
                            font-size: 0.8125em;
                            font-weight: $medium;
                            text-transform: lowercase;
                            letter-spacing: -0.125px;
                            .icon {
                                display: inline-block;
                                position: relative;
                                top: 0.0625em;
                                left: 0.125em;
                                svg * {
                                    stroke: currentColor;
                                }
                            }
                        }
                    }
                }
                figure {
                    width: 7.5em;
                    @media screen and (min-width: 375px) {
                        width: 11.1875em;
                    }
                    flex-shrink: 0;
                    background-color: lighten($black, 41.25%);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            .toggle {
                position: absolute;
                font-size: 1em;
                @include w640 {
                    font-size: 0.7125em;
                }
                font-weight: $medium;
                top: 0.96875em;
                right: 0;
                background-color: $white;
                box-shadow: 0 0 0.5em 0 rgba(black, 0.09375);
                width: 4.625em;
                height: 1.9375em;
                overflow: hidden;
                transform: translateX(250%);
                transition:
                    transform 0.375s ease-in-out;
                &:after, &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 0.875em;
                    height: 100%;
                    z-index: 20;
                    pointer-events: none;
                }
                &:after {
                    background-image: linear-gradient(right, rgba($white, 1), rgba($white, 0));
                    right: 0;
                }
                &:before {
                    background-image: linear-gradient(left, rgba($white, 1), rgba($white, 0));
                    left: 0;
                }
                .label {
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    text-transform: lowercase;
                    line-height: 1;
                    padding: 0.5625em 1em 0.46875em 1em;
                    @include w640 {
                        padding-top: 0.5em;
                    }
                    color: currentColor;
                    transition:
                        transform 0.375s ease-in-out,
                        color 0.1875s ease;
                    &-show {
                        display: none;

                        padding-left: 1.6875em;
                        .icon {
                            left: 0.8125em;
                        }
                    }
                    &-hide {
                        padding-right: 1.6875em;
                        .icon {
                            right: 0.875em;
                        }
                    }
                }
                .icon {
                    position: absolute;
                    width: 0.46875em;
                    display: block;

                    top: 0.5625em;
                    @include w1000 {
                        top: 0.625em;
                    }
                    svg {
                        width: 100%;
                        height: 100%;
                        * {
                            stroke: currentColor;
                        }
                    }
                }
            }
        }
    }
}
body.ie .hero h1 figure svg {
    @include w640 {
        width: 17.5rem;
    }
}


// Photo Callout
// -------------
.parallax-callout {
    padding: 0;
    position: relative;
    pointer-events: none;
    $parallax-space: 60%;

    .px-window {
        height: 12.78125em;
        overflow: hidden;
        position: relative;
        .px-photo {
            display: none;
            position: absolute;
            height: 100% + $parallax-space;
            top: -($parallax-space / 2);
            width: 100%;
            overflow: hidden;
            background-color: $blue;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                position: relative;
                display: block;
                flex-shrink: 0;
                // position: absolute;
                // top: -36.95652174%;
                max-width: none;
                width: 100%;
            }
            img {
                width: 220%;
                position: relative;
                @include w480 {
                    width: 150%;
                }
                @include w640 {
                    width: 110%;
                }
                @include w1000 {
                    width: 100%;
                }
            }
        }
    }
    .fill {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        .container {
            height: 100%;
        }
    }
    &.photo-callout {
        &-blue {
            .px-window .px-photo {
                img {
                    margin-right: 90vw;
                    @include w480 {
                        width: 160%;
                        margin-right: 50vw;
                    }
                    @include w640 {
                        width: 130%;
                        margin-right: 10vw;
                    }
                    @include w1000 {
                        margin-right: 0;
                        width: 100%;
                    }
                }
                @include w480 {
                    align-items: flex-start;
                }
            }
        }
        &-orange {
            .px-window .px-photo {
                img {
                    margin-right: 65vw;
                    @include w480 {
                        margin-right: 15vw;
                    }
                    @include w640 {
                        margin-right: 0;
                    }
                    @include w1000 {
                        margin-top: 5vw;
                    }
                }
            }
        }
        // &-purple {
        //     .px-window .px-photo {
        //     }
        // }
    }
}


// Photo Callout
// -------------
.photo-callout {
    // background-color: darken($gray, 7.5%);
    background-color: transparent;
    padding: 0;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 12.78125em;
        > * {
            flex-shrink: 0;
        }
    }
    h3 {
        margin: 0;
        text-align: center;
        line-height: 1.2;
        padding: 0.75em 0.5em 0.65625em;
    }
    &-blue {
        background-color: darken(#B6E1EC, 7.5%);
        // background-image: url('img/callout-photos/what-we-do.jpg');
        // @include w1000 {
        //     background-position: center calc(50% - 2.8125em);
        // }
        h3 {
            background-color: #BFE1EB;
            color: $dark-blue;
        }
    }
    &-orange {
        background-color: darken(#F7B182, 7.5%);
        // background-image: url('img/callout-photos/who-we-do-it-with.jpg');
        // @include w1000 {
        //     background-position: center calc(50% + 1em);
        // }
        h3 {
            background-color: #EEB48A;
            color: #AB442A;
        }
    }
    &-purple {
        background-color: darken($light-purple, 7.5%);
        // background-image: url('img/callout-photos/who-we-are.jpg');
        h3 {
            background-color: $light-purple;
            color: $dark-purple;
        }
    }
}

// Solutions List
// --------------
.solutions-list {
    margin-top: 1.875em;
    @include w640 {
        margin-top: 2.25em;
    }
    li {
        display: flex;
        flex-direction: column;
        padding: ($gutter - 0.21875rem) $gutter ($gutter - 0.1875rem);
        border: 1px solid $gray;
        margin-bottom: $gutter;
        @include w640 {
            flex-direction: row;
            margin-bottom: 0.4125em;
        }
        &.phover {
            > div a {
                color: $dark-blue;
            }
        }
        > a {
            flex-shrink: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $black;
            h3 {
                width: 10em;
            }
            svg {
                display: block;
                max-width: 100%;
                width: 7em;
            }
            @include w640 {
                flex-direction: column;
                width: ($column * 3);
                margin-right: $gutter;
                align-items: flex-start;
                justify-content: flex-start;
                svg {
                    width: auto;
                }
            }
        }
        > div {
            border-top: 1px solid $gray;
            width: calc(100% - (($column * 3) + ($gutter * 3)));
            margin-top: 1em;
            padding-top: 1em;
            @include w640 {
                margin-top: 0;
                padding-top: 0;
                padding-left: $gutter;
                border-top: 0;
                border-left: 1px solid $gray;
            }
            a {
                display: block;
                font-weight: $medium;
                line-height: 1;
                margin-bottom: 0.1875em;
                font-size: 1em;
                padding: 0.5em 0 0.325em;
                @include w640 {
                    font-size: 0.875em;
                    padding: 0;
                }
            }
        }
    }
    h3 {
        font-weight: $bold;
        line-height: 1.2875;
        margin: 0.2875em 0;
        @include w640 {
            margin: 0.2875em 0 0.734375em;
        }
    }
    figure {
        max-width: 9em;
        svg {
            height: 100%;
        }
    }
    strong {
        font-weight: $medium;
        display: block;
        margin: 0.2875em 0 0.45625em;
    }
    p {
        margin-bottom: 0.765625em;
    }
}

// Expositive Remarks
// ------------------
.expositive-remarks {
    margin-bottom: 0.75em;
    @include w640 {
        margin-bottom: -0.36875em;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include w640 {
            &:first-child {
                align-items: flex-end;
                li {
                    &:last-child {
                        margin-bottom: 0.346875em;
                    }
                }
            }
            &:last-child {
                align-items: flex-start;
                li {
                    &:first-child {
                        margin-top: -0.390625em;
                    }
                    &:last-child {
                        margin-top: 1.15625em;
                    }
                }
            }
        }
    }
    li {
        padding: 0.9375em 1.8125em 0.325em 1.96875em;
        position: relative;
        border: 1px solid $gray;
        background-color: $white;
        width: calc(100% - 24px);
        margin-bottom: 2em;
        @include w640 {
            width: calc(50% - 1.890625em);
            margin: 0 0.390625em 1.5em 0.390625em;
        }
        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            bottom: 10.5px;
            height: 48px;
            width: 28px;
            background-repeat: no-repeat;
            background-size: 29.5px;
        }
        &:first-child {
            @media screen and (max-width: 639px) {
                left: 12px;
            }
            &:before {
                left: -28px;
                background-image: url('img/point-left.svg');
                background-position: right -2.5px bottom 2px;
            }
        }
        &:last-child {
            @media screen and (max-width: 639px) {
                right: 12px;
            }
            &:before {
                right: -28px;
                background-image: url('img/point-right.svg');
                background-position: left -2.5px bottom 2px;
            }
        }
        a {
            display: block;
            font-size: 0.875em;
            margin-top: 0.390625em;
            min-height: 2.5em;
            border-top: 1px solid $gray;
            font-weight: $medium;
            line-height: 1.4125;
            padding: 0.75em 0 0.4125em;
            @include w640 {
                padding: 0.4125em 0;
            }
        }
    }
}

// Stories List
// ------------
.stories-list {
    margin: 2.26875em 0 3.875em;
    ul {
        @include w640 {
            display: flex;
            justify-content: space-between;
        }
    }
    li {
        border: 1px solid $gray;
        margin-bottom: $gutter;
        @include w640 {
            width: $fluid-thirds;
            margin-bottom: 0;
        }
        > div:first-child {
            flex-shrink: 0;
            padding: 0.625em 0.75em 0.78175em;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        > div:last-child {
            padding: 0.625em 0.75em 0.78175em;
            border-top: 1px solid $gray;
        }
    }
    h3 {
        font-weight: $bold;
        line-height: 1.2875;
        margin: 0.2875em 0 0;
    }
    figure {
        height: 2.734375em;
        width: 2.734375em;
        margin: 0.125em 0.25em 0 0.26875em;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &.buildium-logo {
            padding-right: 0.1875em;
        }
        svg {
            max-width: 100%;
        }
        img {
            width: 2.125em;
            height: auto;
        }
    }
    strong {
        font-weight: $medium;
        display: block;
        margin: 0.2875em 0 0.45625em;
    }
    p {
        margin-bottom: 0.71875em;
    }
    a {
        display: block;
        font-weight: $medium;
        line-height: 1;
        margin-bottom: 0.1875em;
        text-transform: lowercase;

        padding: 0.1875em 0 0.125em;
        @include w640 {
            font-size: 0.875em;
            padding: 0;
        }

    }
}

// Client Testimonial
// ------------------
.client-testimonial {
    margin-bottom: 1.5em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include w480 {
        align-items: center;
        flex-direction: row;
    }
    .client {
        margin-right: 2.390625em;
        flex-shrink: 0;
        order: 2;
        display: flex;
        align-items: center;
        @include w480 {
            display: block;
            order: 0;
            width: 7.75em;
        }
        .info {
            margin-left: 1em;
            max-width: 13em;
            @include w480 {
                margin: 0;
            }
        }
        .logo {
            height: 6.671875em;
            width: 6.671875em;
            background-color: $sky-blue;
            margin-bottom: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 75%;
            @include w480 {
                font-size: 100%;
            }
            figure {
                height: 5.5em;
                // width: 5.0625em;
                // background-color: $gray;
                img {
                    max-height: 100%;
                    width: auto;
                }
                &.keurig-logo {
                    height: 3.75em;
                }
            }
        }
        strong {
            display: block;
            font-weight: $medium;
            color: $dark-blue;
            letter-spacing: -(0.5em/18);
            margin-bottom: 0.0625em;
        }
        small {
            display: block;
            font-size: 0.8125em;
            line-height: 1.5;
            margin-bottom: 0.25em;
        }
    }
    .testimonial {
        padding: 1.0625em 1.125em 0.9375em 2.03125em;
        position: relative;
        border: 1px solid $gray;
        margin-bottom: 3.75em;
        @include w480 {
            margin-bottom: 0;
        }
        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            height: 48.5px;
            width: 36px;
            background-repeat: no-repeat;
            background-size: 36px;
            left: -36px;
            bottom: 100px;
            background-image: url('img/point-left-large.svg');
            background-position: right 0 bottom 0;

            bottom: -42px;
            left: 36px;
            transform: rotate(-90deg);
            @include w480 {
                left: -36px;
                top: 54px;
                bottom: auto;
                transform: none;
            }
        }
        blockquote {
            letter-spacing: -(0.55em/18);
        }
    }
}

// Logo List
// ---------
.logo-list {
    ul {
        display: flex;
        flex-wrap: wrap;
        font-size: 62.5%;
        @include w480 {
            font-size: 75%;
        }
        @include w640 {
            font-size: 87.5%;
        }
        @include w1000 {
            font-size: 100%;
        }
    }
    li {
        display: block;
        background-color: $sky-blue;
        padding: 0.9765625em;
        margin: 0 0.234375em 0.234375em 0;
        figure {
            height: 3.65625em;
            min-width: 3.65625em;
            display: flex;
            align-items: center;
            img, svg {
                max-height: 100%;
            }
        }
        &.more {
            figure {
                display: flex;
                align-items: center;
                padding: 0 0.9375em;
                background-color: transparent;
                em {
                    font-weight: $medium;
                    text-transform: lowercase;
                    font-size: 0.9375em;
                    display: block;
                    letter-spacing: -(0.6em/18);
                }
            }
        }
    }
    &-clients {
        margin: 2.59375em 0;
    }
    &-solutions {
        margin: 1.65625em 0 2.90625em;
    }
}
body.ie, body.firefox {
    .logo-list li figure img {
        width: 100%;
    }
}

// Contact CTA
// -----------
.contact-cta {
    display: flex;
    align-items: center;
    p {
        margin: 0 1.625em 0 0;
    }
}

// Platforms List
// --------------
.platforms-list {
    margin-bottom: -0.09375em;
    ul {
        column-count: 4;
        column-gap: $gutter;
        column-rule-width: 0;
        column-width: (($column * 2));
        margin: 1.59375em 0 0 -0.0625em;
        li {
            margin: 0 0 0.1875em 1.0625em;
            position: relative;
            display: inline-block;
            width: 100%;
            &:before {
                content: "•";
                position: absolute;
                left: -0.9375em;
                top: -0.03125em;
                color: $gray;
                font-size: 1.125em;
            }
        }
    }
}

// Origin Stories
// --------------
.origin-stories {
    margin: 3.6875em 0 3.875em;
    @include w480 {
        hr {
            display: none;
        }
    }
    h3 {
        text-transform: none;
        font-weight: 700;
        margin-bottom: 1.6328125em;
        text-align: center;
        max-width: 16rem;
        margin-left: auto;
        margin-right: auto;
        @include w480 {
            text-align: left;
            max-width: none;
            margin-left: 0;
            margin-right: 0;
        }
    }
    ul {
        @include w480 {
            display: flex;
            justify-content: space-between;
        }
        li {
            border-left: 1px solid $gray;
            border-right: 1px solid $gray;
            border-bottom: 1px solid $gray;
            margin-bottom: $gutter;
            max-width: 16em;
            margin-left: auto;
            margin-right: auto;
            @include w480 {
                width: $fluid-thirds;
                margin-bottom: $gutter;
                max-width: none;
                margin-left: 0;
                margin-right: 0;
            }
            .photo {
                background-color: $gray;
                padding-top: 59.75%;
                background-size: cover;
            }
            figcaption {
                padding: 0.25em 0.6875em 0.25em 0.8125em;
                height: 2.71875em;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                div {
                    display: block;
                    font-weight: $medium;
                    text-transform: lowercase;
                    font-size: 0.875em;
                    letter-spacing: -(0.55em/18);
                    margin-top: 0.21875em;
                }
                span {
                    display: block;
                    width: 1em;
                    height: 1em;
                    svg * {
                        stroke: $blue;
                        transition: stroke 0.1875s ease;
                    }
                }
            }
            a:hover {
                figcaption span {
                    svg * {
                        stroke: $dark-blue;
                    }
                }
            }
        }
    }
}

// Team List
// ---------
.team-list {
    margin-top: 2.59375em;
    @include w640 {
        margin-bottom: 2.953125em;
    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 22em;
        @include w640 {
            max-width: none;
        }
        li {
            // flex-shrink: 0;
            width: calc((100%/3) - 0.625em);
            margin-bottom: 1em;
            @include w640 {
                width: calc((100%/6) - 1em);
                margin-bottom: 0;
            }
            @include w1000 {
                width: calc((100%/6) - 1.625em);
                margin-bottom: 0;
            }
            figure {
                .photo {
                    width: 100%;
                    background-color: $gray;
                    img {
                        display: block;
                    }
                }
                figcaption {
                    margin-top: 0.71875em;
                    text-transform: lowercase;
                    font-weight: $medium;
                    text-align: center;
                    color: $purple;
                    line-height: 1.125;
                    letter-spacing: -(0.5em/18);
                    font-size: 0.875em;
                    @include w480 {
                        font-size: 0.9375em;
                    }
                    @include w640 {
                        font-size: 0.875em;
                    }
                    @include w1000 {
                        font-size: 1em;
                    }
                    span {
                        text-transform: none;
                    }
                }
            }
        }
    }
}

// Widgets
// -------
h3.widget-title {
    font-size: 1.478125em;
    font-weight: $bold;
}
.menu-featured-categories-container {
    ul li a {
        letter-spacing: 0;
    }
}
.menu-featured-posts-container {
    a {
        color: $black;
    }
}


// Contact Form
// ------------
.contact-form {
	margin-top: 0.84375em;
	label {
		color: #9CB1B6; // ‘dark gray’ used only here
		span {
			color: #5D767C; // ‘extra dark gray’ used only here
			&:before {
				content: " ";
			}
		}
	}
	input:not([type="submit"]), textarea {
		background-color: #B9BDC4;
		border: none;
		transition: background-color 0.1875s ease;
		&:focus {
			background-color: $white;
		}
	}
	input.button {
		width: auto;
		padding: 0.6875em 1.1875em 0.45625em;
	}

  //Styles for submit button in footer..feel free to fix up nicely
  .pushbutton-wide, .contact-submit input.pushbutton-wide {
  	@extend .button;
  	background-color: #FDB216;
  	color: $black;
  	padding: 0.65625em 1.09375em 0.5em;
  	&:hover {
  		background-color: darken(#FDB216, 10%);
  	}
  }

  input.error, textarea.error {
		border:1px solid red!important;
	}
	.error {
		color: red!important;
	}

	/*When form is submitted, button is disabled so users won't press it while
	ajax completes*/
	input[disabled] {
    color: black;
		background-color: #DCDAD1;
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
	}
}
