// Color palette
$black: #313335;
$gray: #E0E1E2;
$white: #FFFFFF;

$blue: #32C4F5;
$dark-blue: #19748f;
$light-blue: #B6E1EC;
$sky-blue: #F8FBFC;

$orange: #F37227;
$dark-orange: #AB442A;
$light-orange: #F7B182;

$dark-purple: #49286D;
$purple: #8E69AD;
$light-purple: #B698C7;


// Body font
$body: 'ff-bau-web-pro', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$regular: 400;  // (allows normal and italic)
$medium: 500;   // (allows normal and italic)
$bold: 700;     // (allows normal and italic)

// Static Units
$full:   1em * (  800                  / 18);
$column: 1em * (((800 - (20 * 8)) / 9) / 18);
$gutter: 1em * (  20                   / 18);

// Fluid Units
$fluid-thirds: calc((100%/3) - ((1em*(20/18))*(2/3)));

// Media queries
@mixin w480  { @media screen and (min-width: 30em)   { @content; } }
@mixin w640  { @media screen and (min-width: 40em)   { @content; } }
@mixin w1000 { @media screen and (min-width: 62.5em) { @content; } }
@mixin w1280 { @media screen and (min-width: 80em)   { @content; } }
@mixin w1440 { @media screen and (min-width: 90em)   { @content; } }
